<!doctype html>
<html>

<head>
   <meta charset="utf-8">
   <title>红楼梦</title>
   <!-- 顺序很重要，后面的会覆盖前面的 -->
   <link rel="stylesheet" type="text/css" href="scripts/bootstrap/css/bootstrap.css">
</head>

<body ng-app="stoneStory" ng-controller="WordCloudCtrl">
   <!--
   <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
         下拉菜单
         <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
         <li role="presentation"><a href="#" role="menuitem" tabindex="1">Action</a></li>
         <li role="presentation"><a href="#" role="menuitem" tabindex="2">Another action</a></li>
         <li role="presentation"><a href="#" role="menuitem" tabindex="3">something else here</a></li>
         <li role="presentation" class="divider"></li>
         <li role="presentation"><a href="#" role="menuitem" tabindex="4">separated link</a></li>
      </ul>
   </div>
-->
   <div class="container">
      <div class="col-md-4">
         <label for="name">起始回目:</label>
         <select ng-model="beginChapter" class="form-control" ng-options="chapter.value as chapter.name for chapter in beginChapters" ng-click="initEndChapters(beginChapter)">
         </select>
         <label for="name">结束回目:</label>
         <select ng-model="endChapter" class="form-control" ng-options="chapter.value as chapter.name for chapter in endChapters">
         </select>
         <label> you choose {{beginChapter}} - {{endChapter}}</label>
      </div>
   </div>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
   <script src="scripts/app.js"></script>
   <script src="scripts/controllers/stoneStoryControllers.js"></script>
   <script src="scripts/services/stoneStoryServices.js"></script>
   <script src="scripts/directives/stoneStoryDirectives.js"></script>
   <!-- myUtils.js 里面都是function，没有执行语句, 顺序没什么关系 -->
   <script src="scripts/utils/myUtils.js"></script>
</body>

</html>
