<div id="notionHotStocks">
   <h3>概念个股区间涨跌幅查询</h3>
   <section>
      <div id="divMain">
         <!-- $ctrl 必须添加. 在对应的component 的controller中可以使用this来获取 -->
         <form name="notionHotStocksForm" ng-submit="$ctrl.query('notionHotStocks')">
            <div class="input-group">
               <input id="notionHotStocksBegin" name="notionHotStocksBegin" class="span3" size="16" type="text" value="2017-01-03 15:00:00" mydatepicker ng-model="$ctrl.conditions.notionHotStocksBegin"/>
               <span class="add-on">
                  <i class="icon-calendar"></i>
               </span>
               <span>到</span>
               <input name="notionHotStocksEnd" id="notionHotStocksEnd" size="16" type="text" value="2017-01-15 15:00:00" mydatepicker ng-model="$ctrl.conditions.notionHotStocksEnd"/>
               <span class="add-on">
                  <i class="icon-calendar"></i>
               </span>
               <input type="submit" value="查询" />
               <label><input type="checkbox" ng-model="$ctrl.filtered">剔除首发新股、新股与次新股</label>
               <label>&nbsp;&nbsp;&nbsp;所属板块:</label><input id="notiongroup" type="text" ng-model="$ctrl.conditions.notiongroup"/>
            </div>
            <!-- <div class="input-append date input-group input-daterange" id="date">
            </div> -->
         </form>
         <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
               <th ng-repeat="(x,y) in $ctrl.notionHeadNames">{{ y }}</th>
            </tr>
            <tr ng-repeat="x in $ctrl.notionHotStocksItems | filter: $ctrl.conditions.notiongroup">
               <td ng-bind="x.num"></td>
               <td ng-bind="x.stockCode"></td>
               <td ng-bind="x.stockName"></td>
               <td ng-bind="x.totalChange"></td>
               <td ng-bind="x.notionName"></td>
            </tr>
         </table>
         <nav>
            <ul class="pagination">
               <li>
                  <a ng-click="$ctrl.Previous()">
                     <span>上一页</span>
                  </a>
               </li>
               <li ng-repeat="notionHotStocksPage in $ctrl.notionHotStocksPageList" ng-class="{active: $ctrl.isActivePage(notionHotStocksPage)}">
                  <a ng-click="$ctrl.selectPage(notionHotStocksPage)">{{ notionHotStocksPage }}</a>
               </li>
               <li>
                  <a ng-click="$ctrl.Next()">
                     <span>下一页</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </section>
</div>
