<div class="input-group">
   <input id="stockCommonBegin" name="stockCommonBegin" class="span3" size="16" type="text" value="2017-01-03 15:00:00" mydatepicker ng-model="$ctrl.conditions.stockCommonBegin"/>
   <span class="add-on"> <i class="icon-calendar"></i>
   </span>
   <span>到</span>
   <input name="stockCommonEnd" id="stockCommonEnd" size="16" type="text" value="2017-01-15 15:00:00" mydatepicker ng-model="$ctrl.conditions.stockCommonEnd"/>
   <span class="add-on"> <i class="icon-calendar"></i>
   </span>
   <input type="submit" value="查询" />
   <label>
    <input type="checkbox" ng-model="checkboxModel.queryAll">查询所有
  </label>
</div>