<div class="poem">
   <poem-menu></poem-menu>
   <div class='poem-body search-body'>
      <row>
         <div>
            <label for="name">类别:</label>
            <select ng-model="$ctrl.type" ng-options="type.value as type.name for type in $ctrl.types" ng-init="$ctrl.type='author_name'">
            </select>
            <label for="name">值:</label>
            <input type="text" ng-model="$ctrl.searchContent" placeholder="Search for...">
            <button id="searchBtn" class="btn" ng-click="$ctrl.query()">查询</button>
            <label for="name">结果中过滤:</label>
            <input type="text" ng-model="$ctrl.filtercontent" placeholder="filter results ...">
         </div>
         <!--
         <div class="col-lg-6">
            <div class="input-group">
               <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action
                     <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                     <li>
                        <a href="#">Action</a>
                     </li>
                     <li>
                        <a href="#">Another action</a>
                     </li>
                     <li>
                        <a href="#">Something else here</a>
                     </li>
                     <li class="divider"></li>
                     <li>
                        <a href="#">Separated link</a>
                     </li>
                  </ul>
               </div>
               <input type="text" class="form-control">
               <input type="button" id="searchBtn" class="form-control" ng-click="$ctrl.query()" value="查询"/>
            </div>
         </div>
         -->
      </row>
      <row>
         <p class="search-num">
            <span>共找到{{results.length}}首.</span>
            <span ng-show="$ctrl.numFound > 1000">只显示1000首</span>
         </p>
      </row>
      <row>
         <ul class="animate-container">
            <!-- 按标题搜索伐檀如果不加 ”“, 会把伐柯也搜索出来.还不知道怎么在solr-client中添加""
               as results 必须放最后.
             -->
            <li class="animate-repeat" ng-repeat="doc in $ctrl.docs | filter:$ctrl.filtercontent | orderBy:$ctrl.orderProp as results">
               <!-- <a href="/poem{{doc.poem_url}}">{{ doc.poem_name}}</a> -->
               <div class="poemname">{{$index + 1}}. {{ doc.poem_name }}</div>
               <div>
                  <!--  -->
                  <div ng-class="$ctrl.poembriefclasses[$index]" ng-bind-html="doc.poem_content.substr(0, 50)">
                  </div>
                  <div ng-class="$ctrl.poemallclasses[$index]">
                     <p ng-bind-html="doc.poem_content"></p>
                     <p class="poemappreciationtitle">诗词鉴赏</p>
                     <p class="poemappreciation" ng-bind-html="doc.poem_appreciation"></p>
                  </div>
                  <!-- -->
                  <a ng-click="$ctrl.foldtoggle($index)">{{$ctrl.showbtns[$index]}}</a>
               </div>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
               <strong>No results found...</strong>
            </li>
         </ul>
      </row>
   </div>
</div>
