<div id="notionHot">
   <h3>概念区间涨跌幅查询</h3>
   <section>
      <div id="divMain">
         <!-- $ctrl 必须添加. 在对应的component 的controller中可以使用this来获取 -->
         <form name="notionHotForm" ng-submit="$ctrl.query('notionHot')">
            <div class="input-group">
               <input id="notionHotBegin" name="notionHotBegin" class="span3" size="16" type="text" value="2016-01-03 15:00:00" mydatepicker ng-model="$ctrl.conditions.notionHotBegin"/>
               <span class="add-on">
                  <i class="icon-calendar"></i>
               </span>
               <span>到</span>
               <input name="notionHotEnd" id="notionHotEnd" size="16" type="text" value="2016-01-15 15:00:00" mydatepicker ng-model="$ctrl.conditions.notionHotEnd"/>
               <span class="add-on">
                  <i class="icon-calendar"></i>
               </span>
               <input type="submit" value="查询" />
            </div>
            <!-- <div class="input-append date input-group input-daterange" id="date">
            </div> -->
         </form>
         <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
               <th ng-repeat="(x,y) in $ctrl.notionHeadNames">{{ y }}</th>
            </tr>
            <tr ng-repeat="x in $ctrl.notionHotItems">
               <td ng-bind="x.num"></td>
               <td ng-bind="x.notionName"></td>
               <td ng-bind="x.totalChange"></td>
               <td ng-bind="x.corpsNum"></td>
            </tr>
         </table>
         <nav>
            <ul class="pagination">
               <li>
                  <a ng-click="$ctrl.Previous()">
                     <span>上一页</span>
                  </a>
               </li>
               <li ng-repeat="notionHotPage in $ctrl.notionHotPageList" ng-class="{active: $ctrl.isActivePage(notionHotPage)}">
                  <a ng-click="$ctrl.selectPage(notionHotPage)">{{ notionHotPage }}</a>
               </li>
               <li>
                  <a ng-click="$ctrl.Next()">
                     <span>下一页</span>
                  </a>
               </li>
            </ul>
         </nav>
      </div>
   </section>
</div>
